:root {
    --orangebar: #ff7b4d;
    --purplebar: #b650ff;
    --bluebar: #20efc8;
    --text: rgba(255, 255, 255, 0.4);
}



* {
    margin:0;
    padding: 0;
    top: 0;
    border: 0;
    font-family: 'Bahnschrift', 'Signika', sans-serif;
    overflow: hidden;
}


@font-face {
    font-family: "Bahnschrift";
    src: url("../fonts/BAHNSCHRIFT.TTF");
        }

     
body {
    animation-name: colorful;
    animation-duration: 65s;
    animation-iteration-count: infinite;
      
 }
 
 @keyframes colorful {
     0% {
         background-color: #320056;
     }
 
             30% {
                 background-color: #14101c;
                     }
 
                     50% {
                         background-color: #320056;
                             }
 
                             
                             80% {
                                 background-color: #910050;
                                     }

                                     100% {
                                        background-color: #47007a;
                                    }
 }





/*************************************************/


#group {

    width: 50vw;
    margin-left: 20vw;
    margin-top: 17vh;
}



#logo {
max-width: 100%;
height: auto;
}


#bars {
    margin-top: 3em;
   
}

#orange_bar {
    border-bottom: 1.6em solid var(--orangebar);
    width: 29.5vw;
    margin-bottom: 2em;
}


#purple_bar {
    border-bottom: 1.6em solid var(--purplebar);
    width: 25vw;
    margin-bottom: 2em;
}

#blue_bar {
    border-bottom: 1.6em solid var(--bluebar);
    width: 35vw;
    margin-bottom: 2em;
}


/* generate button*/
 button {

    display: block;
    background-color: var(--orangebar);
    border: none;
    text-align: center;
    color: white;
    font-size: 1.35em;
    padding: 0.3em 2.2em;
    cursor: pointer;
    white-space: pre-line;
    font-weight: 600;
    
}


/*2d button (have to improve)*/
#reload {
    display: block;
    background-color: var(--orangebar);
    border: none;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 0.2em 1em;
    cursor: pointer;
    white-space: pre-line;
    font-weight: 600;
    transform: translateX(89vw);
    margin-top: 87vh;
    position: absolute;
    z-index: 100;

}



/*parameters for layers*/
#bg {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
   
}



#character-left {
    max-width: 20%;
    margin-left: 25vw;
    margin-top: 15vh;
    height: auto;
    position: absolute;
    
    
}

#character-right {
    max-width: 20%;
    margin-left: 50vw;
    margin-top: 20vh;
    height: auto;
    position: absolute;
    
}





/*pop up illustrations*/
#displayer {
width: 100%;
height: 100%;
position: fixed;
display: none;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
cursor: pointer;
background-color: rgba(38, 0, 46, 0.9);

}


/*Pop up What is it section*/
#whatisit {

width: 100%;
height: 100%;
position: fixed;
display: none;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
cursor: pointer;
background-color: rgba(255, 137, 116, 0.96);

}


#whatisit h1 {
font-weight: 800;
font-size: 3em;
text-align: left;
color:#320056;
margin-top: 28vh;
margin-left: 15vw;
}


#whatisit p {
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    color: #660033;
    white-space: pre-line;
    margin-top: 5vh;
    margin-left: 15vw;
    }



/*Link for what is it section*/
a {
    text-decoration: none;
    color: var(--text);
    display: block;
    transform: translateX(85vw);
}


